.blinking{
    animation:blinkingText 5.2s infinite;
}

.navbar-actions a{
    text-decoration: none;
    margin-right: 20px;
    color: whitesmoke;
    opacity: 0.8;
    
}

.navbar-actions a:hover{
    color: cyan;
}

.header-top{
    padding-left: 24px;
}

.contact__list li a{
    text-decoration: none;
}
@keyframes blinkingText{
    0%{     color: rgb(21, 96, 215);    }
    49%{    color: rgb(21, 96, 215); }
    60%{    color:transparent; }
    70%{    color:transparent; }
    99%{    color:red;  }
    100%{   color: red;    }
}

@media(max-width:768px) {
    .blinking{
        display: none!important;
    }
    .navbar-actions{
        display: none!important;
    }
    .icon{
        display: none!important;
    }
    .header-top{
        padding-left: 0px!important;
        margin: auto!important;
    }
    .contact__list{
        justify-content: center!important;
        align-items: center;
        margin: auto!important;
        margin-bottom: 0px!important;
    
    }
    .navbar{
        /* margin-bottom: 0px!important;
        margin-top: 20px!important; */
        height: 107px!important;
    }
    .navbar .navbar-brand{
        height: 120px!important;
    }
    .navbar .navbar-brand img{
        padding-bottom: 20px!important;
        height: 140px;
    }
    .navbar-toggler{
        /* background-color: white!important; */
        margin-top: 16px!important;
       
    }
    .navbar-toggler span{
        background-color: #e2e4e7!important;
    }
    
    .navbar .navbar-toggler .menu-lines:before, .navbar .navbar-toggler .menu-lines:after {
        content: '';
        position: absolute;
        left: 0;
        width: 23px;
        height: 1px;
        display: inline-block;
        background-color: #e2e4e7;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
      }
}

@media (max-width:991px){

    .navbar-toggler{
        /* background-color: white!important; */
        margin-top: 16px!important;
       
    }
    .blinking{
        display: none!important;
    }
    .navbar .navbar-toggler .menu-lines:before, .navbar .navbar-toggler .menu-lines:after {
        content: '';
        position: absolute;
        left: 0;
        width: 23px;
        height: 1px;
        display: inline-block;
        background-color: #e2e4e7;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
      }
      .navbar-toggler span{
        background-color: #e2e4e7!important;
    }
    .icon{
        display: none!important;
    }

}
@media (max-width:1024px)  {
    .icon{
        display: none!important;
    }
    .blinking{
        display: none!important;
    }
}