.blinking{
    animation:blinkingText 5.2s infinite;
}

.navbar-actions a{
    text-decoration: none;
    margin-right: 20px;
    color: whitesmoke;
    opacity: 0.8;
    
}

.navbar-actions a:hover{
    color: cyan;
}

.contact__list li a{
    text-decoration: none;
}
@keyframes blinkingText{
    0%{     color: rgb(21, 96, 215);    }
    49%{    color: rgb(21, 96, 215); }
    60%{    color:transparent; }
    70%{    color:transparent; }
    99%{    color:red;  }
    100%{   color: red;    }
}
