<footer class="footer bg-secondary">
    <section class="d-flex justify-content-right justify-content-center p-4 border-bottom">
        <!-- <div class="me-2 d-none d-lg-block">
            <span>Connect with us :</span>
        </div> -->

        <div> 
          <!-- section links -->
            <a href="https://www.facebook.com/hrpcsglobal" target="_blank" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/PCSGlobal2" target="_blank" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.youtube.com/@PCSGlobalPrivateLimited" target="_blank" class="me-4 text-reset">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.instagram.com/pcsglobalpvtltd?igsh=M3ExbGRtdWpkZ2M=" target="_blank" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/company/pcs-global-pvt-ltd/mycompany" target="_blank" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/orgs/PCS-GLOBAL-ORG/dashboard" target="_blank" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a> 
          </div>
          <!-- section links completed -->
    </section>



    <div class="container footer-main">
      <div class="footer-primary">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-3 footer-widget footer-widget-about">
            <div class="footer-widget__content">
              <div class="contact-info">
                <h6 class="footer-widget__title" >Quick Contact</h6>
                <ul class="contact-list list-unstyled">
                  <li class="color-gray">If you have any questions or need help, feel free to contact with our team.</li>
                  <li class="mt-20 mb-20">
                    <a href="tel:(+91) 033-23440159" class="phone-number">
                      <i class="icon-phone"></i> <span> 033-45179993</span><br>
                      <i class="icon-phone"></i> <span> +91-8697741611 </span>
                    </a>
                  </li>  
                    <!-- <li class="color-body">Godrej Genesis, Block EP & GP Opp to Syndicate Bank, <br/>
                        Sector V, <br/>
                        Salt Lake City, Kolkata, West Bengal 700091 <br/></li> -->
                  <li>PCS Global Pvt. Ltd.
                    Bengaluru H.Q.<br>
                    57/65, Chikkalakshmaiah layout,<br>
                    Hosur main road, Bengaluru, Karnataka 560029
                  </li>
                </ul>
              </div>  
            </div>
          </div> 
          
          <div class="col-sm-6 col-md-6 col-lg-2 offset-lg-1 footer-widget footer-widget-nav sec">
              <h6 class="footer-widget__title">Services</h6>
              <ul class="list-unstyled">
                <li>Data Management</li>
                <li>Digital Transformation Services</li>
                <li>Managed Infrastructure & Security Services</li>
                <li>IT Security Services</li>
                <li>Web Technologies</li>
            </ul>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-2 offset-lg-1 footer-widget footer-widget-nav">
              <h6 class="footer-widget__title">News & Events</h6>
              <ul class="list-unstyled">
                <li>Press Releases</li>
                <li>In the news</li>
                <li>Events</li>
            </ul>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-2 offset-lg-1 footer-widget footer-widget-nav">
              <h6 class="footer-widget__title">Company</h6>
              <ul class="list-unstyled"> 
                <li><a routerLink="/about-us" routerLinkActive="active">About Us</a></li>
                <li><a routerLink="/management-team" routerLinkActive="active">Meet Our Team</a></li>
                <li><a href="https://pcs-global-pvt-ltd.blogspot.com" target="_blank">News & Media</a></li>
                
                <li><a href="https://pcs-global-pvt-ltd.blogspot.com">Case Studies</a></li>
                <!-- <li><a href="contacs.html">Contacts</a></li> -->
                <li><a routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
            </ul>
          </div>
        </div>
      
    </div> <!--footer primary-->


    <div class="containe">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3 footer-widget footer-widget-about">
          <h5 class="footer-widget__title">Download</h5>
          <div class="footer-widget__content" >
            <a href="#" class="btn btn__white btn__download mb-20" target="_blank">
                <i class="fab fa-apple"></i>
                <span> App Store</span>
            </a>
            <br>
            <a href="#" class="btn btn__white btn__download mb-20" target="_blank">
                <i class="fab fa-google-play"></i>
                <span> Google Play</span>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-2 offset-lg-1 footer-widget footer-widget-nav">
          <h6 class="footer-widget__title">Solutions</h6>
          <div class="footer-widget__content">
            <ul class="list-unstyled">
              <li>IT Management</li>
              <li>Cyber Security</li>
              <li>Cloud Computing</li>
              <li>IT Consulting</li>
              <li>Software Dev</li>
              <li>IT Support</li>
            </ul>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-2 offset-lg-1 footer-widget footer-widget-nav">                  
          <h6 class="footer-widget__title">Hire Dedicated Developers From PCS</h6>
          <div class="footer-widget__content">
            <ul class="list-unstyled">
              <li>Hire AngularJS Developers</li>
              <li>Hire ReactJS Developers</li>
              <li>Hire Java Developers</li>
              <li>Hire Python Developers</li>
              <li>Hire React Native Developers</li>
              <li>Hire MEAN Stack Developers</li>
            </ul>
          </div>
        </div>


        <div class="col-sm-6 col-md-6 col-lg-2 offset-lg-1 footer-widget footer-widget-nav" >
          <h6 class="footer-widget__title">Resources</h6>
          <div class="footer-widget__content">
            <ul class="list-unstyled">
              <li>Pricing and plans</li>
              <li>Terms of Service</li>
              <li>Help & FAQ</li>
              <li>Site map</li>
              <li>
                <a routerLink="/legal-team" routerLinkActive="active" class="nav__item-link">
                  Legal Team</a>
              </li>
            </ul>
          </div>
        </div> 
      </div>
    </div> 

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 text-center pb-40">
          <span class="fz-14">&copy; 2020 PCS Global, All Rights Reserved.
          </span> 
      </div>
    </div>
  </div>
</footer> 