<div style="margin-top: 10px;">
  <span>&nbsp;</span>
</div>


  <div class="container-contact">

    <div  class="adressContainer">
      <div class="img">
        <img src="assets/images/contact/pcsglobalbengluruoffice-img1.jpg"  alt="..."
        >
      </div>
     
       
        <b class="mt-4 d-block"> Bengaluru H.Q.</b>
        <br>

        57/65, Chikkalakshmaiah Layout,<br>
        Hosur main road, Bengaluru,Karnataka 560029<br>
        <b>Landmark: Opposite Beauty Trips or Beyond Health medical store</b><br>
        Phone: <a href="tel: (+91) 6290184571"> | (+91) 6290184571</a><br>
        <b>

          <a href="https://www.google.com/maps/place/Beyond+health+clinic+and+medical+shop/@12.9357488,77.6084033,19.06z/data=!4m10!3m9!1s0x3bae15c40de411c3:0x250f8515b62e6f80!5m3!1s2023-10-10!4m1!1i2!8m2!3d12.9360824!4d77.6089132!16s%2Fg%2F11h909gqqd?entry=ttu"
            target="_blank">Live Location</a>
        </b>
    </div >

    <div class="adressContainer">
      <div class="img">
        <img src="https://jll-global-gdim-res.cloudinary.com/image/upload/t_v1-jp-property-detail-web/v1505556145/IN_ML20170916/Godrej-Genesis_7792_20170916_002.jpg" 
        >
      </div>
     
    <b class="mt-4 d-block"> Kolkata Saltlake </b>
    <br>
    Godrej Genesis, Block EP & GP Opp to Syndicate Bank, Sector V, Salt Lake City, Kolkata, West Bengal 700091, India
    <b>Landmark: HCFM+6GF, Street Number 18</b>
    <br />
    Phone: <a href="tel: (033)-23440159"> | (+91) 81151 17740</a><br>
    <b>
      <a href="https://www.google.com/maps/place/Godrej+Genesis/@22.5730705,88.4312256,17z/data=!3m1!4b1!4m6!3m5!1s0x3a02754101008535:0xe5a40f5bdaad26f8!8m2!3d22.5730705!4d88.4338005!16s%2Fg%2F11l4n5cfyy?entry=ttu&g_ep=EgoyMDI0MTEyNC4xIKXMDSoASAFQAw%3D%3D"
        target="_blank">Live Location</a>
    </b>
    </div>

    <div class="adressContainer">
      <div class="img">
        <img src="assets/images/pcs-office-branch/16351392677841.jpg"  alt="...">
      </div>
    
        <b class="mt-4 d-block"> Bhuvaneshwar </b>
        <br>
        Opposite Nalco Headquarters, Jayadev Vihar, Nandankanan Rd,<br>
        Odisha Nayapalli Bhubaneswar 751013
        Phone: <a href="tel: (+91) 6290184571"> | (+91) 6290184571</a><br>
        <b>Landmark:Nalco Bhavan, P/1, Nayapalli, Bhubaneswar</b><br>
        <b><a href="https://www.google.com/maps/place/%E0%A4%A8%E0%A4%BE%E0%A4%B2%E0%A5%8D%E0%A4%95%E0%A5%8B+%E0%A4%AD%E0%A4%B5%E0%A4%A8/@20.3040371,85.8212738,17z/data=!3m1!4b1!4m6!3m5!1s0x3a1909c76ef5d24d:0x26075c3af849ce46!8m2!3d20.3040371!4d85.8212738!16s%2Fg%2F1tdmhx71?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D" target="_blank">Live Location</a></b>
        
    </div>

  
    <div class="adressContainer">
      <div class="img">
        <img src="https://s3.ap-south-1.amazonaws.com/worker-app/details_images/2053/2053_409051.jpeg" class="card-img-top" alt="..."
        >
      </div>
      
      <b class="mt-4 d-block">Noida </b>
      <br>
      First floor, A-83, Sector 63 Rd, A Block, Sector 63, Noida, Uttar Pradesh 201301
      Phone: <a href="tel: (+91) 6290184571"> | (+91) 6290184571</a><br>
      <b>Landmark:J9CH+7X Noida, Uttar Pradesh</b>
      <br>
      <b><a href="https://www.google.com/maps/place/Sharkspace+Coworking+%7C+Office+on+Rent/@28.6207146,77.3799469,17z/data=!3m1!4b1!4m6!3m5!1s0x390cefb95942fa95:0xeb0ad81d2e7debd8!8m2!3d28.6207146!4d77.3799469!16s%2Fg%2F11vy5f2vkm?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D">Live Location</a></b>
    </div>



</div>
<!-- <router-outlet></router-outlet> -->