<!-- check -->
<div style="margin-top: 10px;">
  <span>&nbsp;</span>
</div>


<div class="container-contact">

  <div class="adressContainer">
    <div class="img">
      <img src="assets/images/contact/pcsglobalbengluruoffice-img1.jpg" alt="...">
    </div>


    <b class="mt-4 d-block"> Bengaluru H.Q.</b>
    <br>

    57/65, Chikkalakshmaiah Layout,<br>
    Bengaluru, Karnataka 560029<br>
    <b>Landmark: Opposite Beauty Trips or Beyond Health medical store</b><br>
    Phone: <a href="tel: (+91) 6290184571"> | (+91) 8115117740</a><br>
    <b>

      <a href="https://www.google.com/maps/place/Beyond+health+clinic+and+medical+shop/@12.9357488,77.6084033,19.06z/data=!4m10!3m9!1s0x3bae15c40de411c3:0x250f8515b62e6f80!5m3!1s2023-10-10!4m1!1i2!8m2!3d12.9360824!4d77.6089132!16s%2Fg%2F11h909gqqd?entry=ttu"
        target="_blank">Live Location</a>
    </b>
  </div>

  <div class="adressContainer">
    <div class="img">
      <img
        src="https://jll-global-gdim-res.cloudinary.com/image/upload/t_v1-jp-property-detail-web/v1505556145/IN_ML20170916/Godrej-Genesis_7792_20170916_002.jpg">
    </div>

    <b class="mt-4 d-block"> Kolkata Saltlake </b>
    <br>
    Godrej Genesis, Block EP & GP Opp to Syndicate Bank, Sector V, Salt Lake City, Kolkata, West Bengal 700091, India
    <b>Landmark: HCFM+6GF, Street Number 18</b>
    <br />
    Phone: <a href="tel: (033)-23440159"> | (+91) 81151 17740</a><br>
    <b>
      <a href="https://www.google.com/maps/place/Godrej+Genesis/@22.5730705,88.4312256,17z/data=!3m1!4b1!4m6!3m5!1s0x3a02754101008535:0xe5a40f5bdaad26f8!8m2!3d22.5730705!4d88.4338005!16s%2Fg%2F11l4n5cfyy?entry=ttu&g_ep=EgoyMDI0MTEyNC4xIKXMDSoASAFQAw%3D%3D"
        target="_blank">Live Location</a>
    </b>
  </div>

  <div class="adressContainer">
    <div class="img">
      <img src="assets/images/pcs-office-branch/16351392677841.jpg" alt="...">
    </div>

    <b class="mt-4 d-block"> Bhuvaneshwar </b>
    <br>
    Opposite Nalco Headquarters, Jayadev Vihar, Nandankanan Rd,<br>
    Odisha Nayapalli Bhubaneswar 751013
    Phone: <a href="tel: (+91) 6290184571"> | (+91) 6290184571</a><br>
    <b>Landmark:Nalco Bhavan, P/1, Nayapalli, Bhubaneswar</b><br>
    <b><a
        href="https://www.google.com/maps/place/%E0%A4%A8%E0%A4%BE%E0%A4%B2%E0%A5%8D%E0%A4%95%E0%A5%8B+%E0%A4%AD%E0%A4%B5%E0%A4%A8/@20.3040371,85.8212738,17z/data=!3m1!4b1!4m6!3m5!1s0x3a1909c76ef5d24d:0x26075c3af849ce46!8m2!3d20.3040371!4d85.8212738!16s%2Fg%2F1tdmhx71?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
        target="_blank">Live Location</a></b>

  </div>


  <div class="adressContainer">
    <div class="img">
      <img src="../../assets/images/contact/Noida2.jpeg"
        class="card-img-top" alt="...">
    </div>

    <b class="mt-4 d-block">Noida </b>
    <br>
    First floor, A-83, Sector 63 Rd, A Block, Sector 63, Noida, Uttar Pradesh 201301
    Phone: <a href="tel: (+91) 6290184571"> | (+91) 8115117740</a><br>
    <b>Landmark:J9CH+7X Noida, Uttar Pradesh</b>
    <br>
    <b><a
        href="https://www.google.com/maps/place/Sharkspace+Coworking+%7C+Office+on+Rent/@28.6207146,77.3799469,17z/data=!3m1!4b1!4m6!3m5!1s0x390cefb95942fa95:0xeb0ad81d2e7debd8!8m2!3d28.6207146!4d77.3799469!16s%2Fg%2F11vy5f2vkm?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D">Live
        Location</a></b>
  </div>



  <!-- upcomming locations -->

 
    <div class="adressContainer">
      <div class="img">
        <img src="https://www.trawell.in/admin/images/upload/078212929Delhi_India_Gate_Main.jpg"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Delhi</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>

    
    <div class="adressContainer">
      <div class="img">
        <img src="https://www.keralatourism.org/images/destination/large/cherai_beach_kochi20150530082238_179_1.jpg"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Kochi</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>


    
    <div class="adressContainer">
      <div class="img">
        <img src="https://www.jansatta.com/wp-content/uploads/2019/04/Chennai-Central-1.jpg"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Chennai</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>


    
    <div class="adressContainer">
      <div class="img">
        <img src="https://static.newstrack.com/h-upload/2023/12/23/1643524-pune1.webp"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Pune</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>


    
    <div class="adressContainer">
      <div class="img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMdtCMnM00JcYnljavIp-dlrFV6DsVsamXnw&s"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Goa</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>


    
    <div class="adressContainer">
      <div class="img">
        <img src="https://i.ytimg.com/vi/73ag7pBlZec/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCCzqm9Nb-VNnmNcNPzwoAQaZQjIw"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Mumbai</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>


    
    <div class="adressContainer">
      <div class="img">
        <img src="https://i.ytimg.com/vi/hSR20ti_Wuk/sddefault.jpg"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Indore</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>


    
    <div class="adressContainer">
      <div class="img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5x5tBdR6V8xrVeTGvIac2A1KDmRRAft_eJA&s"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Ahmadabad</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>


    
    <div class="adressContainer">
      <div class="img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVYPk6Xx1UwOv6-wEUSKaHvn3NZwHtNRS64g&s"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Jaipur</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>

     
    <div class="adressContainer">
      <div class="img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4e8FWZ-2ptgy913AYOO2-SjD_6iKwN0shzA&s"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Lucknow</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>

     
    <div class="adressContainer">
      <div class="img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHHwQJpD49owaJPIRok-3XGdZVBCDOJwgf7Q&s"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Patna</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>

    <div class="adressContainer">
      <div class="img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjwViHOds3VG4FDV_85ccoX-rrnj_80T_p2g&s"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Jamshedpur</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>


    <div class="adressContainer">
      <div class="img">
        <img src="https://i.ytimg.com/vi/sXQXtPYLbiw/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLAzzQRo7KDrNrPwjszhp_-bFqZIbQ"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Raipur</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>

    <div class="adressContainer">
      <div class="img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRv0K4d5NYP0tssLbHeiIsfBLIYlVUprhpjjw&s"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Chandigarh</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>

    <div class="adressContainer">
      <div class="img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAa-Ma1wxOdBwnfuv44Eaggc4b36hwKBBThQ&s"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Shimla</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>

    <div class="adressContainer">
      <div class="img">
        <img src="https://img-cdn.thepublive.com/fit-in/640x430/filters:format(webp)/newsnation/media/media_files/tWKNoCe3rHZBeMvlMVYw.jpg"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Badhi, Himachal Pradesh</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>

    <div class="adressContainer">
      <div class="img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSFdr_E_bOS_ITdY_Rfvg_EcUoIu4KvUb0aw&s"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Dehradun</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>

    <div class="adressContainer">
      <div class="img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4iYBeECw0Pg1qvSWK4r9R08paiipzVCRDXA&s"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Gohati</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>

    <div class="adressContainer">
      <div class="img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSY1_eN0uQbe4hHsZiKFUQe_jnLQVE07QGmjg&s"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Tripura, Agartala</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>

    <div class="adressContainer">
      <div class="img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1jwJLmnXtgdcoaI-HAXiHdbGOjoL7xQ8JiQ&s"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Gangtok</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>

    <div class="adressContainer">
      <div class="img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6FX5tDPgaLGhtYq8iFEN17zUJ9_WStHg-Gw&s"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Kathmandu, Nepal</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>

    <div class="adressContainer">
      <div class="img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/View_from_South_Point%2C_%28Port_Blair%2C_India%29.jpg/1200px-View_from_South_Point%2C_%28Port_Blair%2C_India%29.jpg"
          class="card-img-top" alt="...">
      </div>
            <h6 class="mt-4 d-block ">Port Blair</h6>
           <h6 class=" upcoming">Upcoming Location..</h6>
    </div>

</div>




  <!-- contact us form -->

<form class="contact-panel__form" method="post" action="assets/php/contact.php" id="contactForm">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="contact-panel__title">Connect To Us</h4>
      <p class="contact-panel__desc mb-20">Our deep pool of certified engineers and IT staff
        are ready to
        help you to keep your IT business safe & ensure high availability.</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Name" id="contact-name" name="contact-name" required>
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" id="contact-email" name="contact-email" required>
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="form-group">
        <select class="form-control">
          <option value="1">Inquiry</option>
          <!-- <option value="2">case study</option> -->
        </select>
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Phone" id="contact-Phone" name="contact-phone" required>
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-12">
      <div class="form-group">
        <textarea class="form-control" placeholder="Describe your inquirey!" id="contact-message"
          name="contact-message"></textarea>
      </div>
      <button type="submit" class="btn btn__secondary btn__icon btn__xhight mt-10">
        <span>Submit Request</span> <i class="icon-arrow-right"></i>
      </button>
      <div class="contact-result"></div>
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->
</form>
<!-- <router-outlet></router-outlet> -->