<div class="body_resiz mt-4">

    
    <h2 class=" mt-4 text-center">Photo Gallary</h2>
    
    <div class="galler d-flex justify-content-center align-items-center gap-2">

        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/23.jpeg" class="gallery-photo1" /></div>
        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/24.jpeg"  /></div>
        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/25.jpeg"  /></div>
        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/26.jpeg"  /></div>


        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/19.jpeg"  /></div>
        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/20.jpeg"  /></div>
        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/21.jpeg"  /></div>
        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/22.jpeg"  /></div>


        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/15.jpeg"  /></div>
        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/17.jpeg" /></div>
        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/18.jpeg"  /></div>
        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/16.jpeg"  /></div>


        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/1.png"  />
        </div>
        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/2.png"  />
        </div>
        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/3.png" />
        </div>
        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/4.png"  />
        </div>



        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/5.png"  /></div>

        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/6.png"  />
        </div>
        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/7.png"  /></div>
        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/8.png"  />
        </div>


        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/13.png"  /></div>
        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/10.png"  /></div>
        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/14.png"  /></div>
        <div class="gallery-photo-screen"><img src="assets/office-photo-gallery/12.png"  /> </div>
    </div>
    </div>